@import '../../../styles/mixins.scss';

.about {
    @apply relative top-0 left-0  bg-[#31414B] z-10 w-full;
}

.container {
    @apply relative top-0 left-0 h-full w-[1210px] mx-auto z-10;

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}

.about__info_container {
    @apply absolute top-0 left-[50%] translate-x-[-50%] h-full w-[1210px] mx-auto;

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}

.title {
    @include text(62px, 130%, 700, $white_color);
    @apply text-left mt-[8.35%] mb-[17.1%];

    @media screen and(max-width: 1440px) {
        font-size: calc(42px + (62 - 42)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply text-left mt-[5%] mb-[25.1%];
        font-size: calc(30px + (50 - 30)*(100vw - 320px)/(576 - 320));
    }
}

.info {
    @apply absolute top-[60.52%] left-0 bg-white w-[83.7%] pt-[3.2%] pb-[3.6%];
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;

    @media screen and(max-width: 576px) {
        @apply w-[78.5%] pt-[4.5%] pb-[6%] top-[53%];
    }
}

.info__container {
    @apply relative top-0 left-0 h-full mx-auto z-10 px-[4.5%];
}

.info__title {
    @include text(32px, 130%, 700, $medium_black);
    @apply uppercase mb-[2%];
    @media screen and(max-width: 1440px) {
        font-size: calc(13px + (32 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(10px + (18 - 10)*(100vw - 320px)/(576 - 320));
    }

    span {
        @include text(32px, 130%, 700, $sapfir_color);
        @apply uppercase;

        @media screen and(max-width: 1440px) {
            font-size: calc(12px + (32 - 12)*(100vw - 480px)/(1440 - 480));
        }

        @media screen and(max-width: 576px) {
            font-size: calc(12px + (32 - 12)*(100vw - 320px)/(1440 - 320));
        }
    }
}

.info__item {
    @apply flex items-center mt-[1%];

    @media screen and(max-width: 576px) {
        @apply mt-[6%];
    }
}

.info__item_num {
    @include text(32px, 135%, 700, $sapfir_color);
    @apply w-[12%] text-right;

    @media screen and(max-width: 1440px) {
        font-size: calc(10px + (32 - 10)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-[20%];
        font-size: calc(14px + (30 - 14)*(100vw - 320px)/(576 - 320));
    }
}

.info__item_img {
    @apply flex justify-end relative top-0 left-0 w-[12%];

    @media screen and(max-width: 1440px) {
        height: calc(24px + (56 - 24)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply flex relative top-0 left-0 w-[20%];
        height: auto;
    }
}

.info__item_text {
    @include text(20px, 130%, 700, $medium_black);
    @apply uppercase ml-[4%] w-[88%];

    @media screen and(max-width: 1440px) {
        font-size: calc(10px + (20 - 10)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 992px) {
        @apply uppercase ml-[3%];
    }

    @media screen and(max-width: 576px) {
        @apply uppercase ml-[5%] w-[57%];
        font-size: calc(10px + (17 - 10)*(100vw - 320px)/(576 - 320));
    }
}

.garden__wrapper {
    svg {
        @apply max-w-fit;

        @media screen and(max-width: 1440px) {
            height: calc(20px + (39 - 20)*(100vw - 576px)/(1440 - 576));
        }
        @media screen and(max-width: 576px) {
            height: calc(30px + (65 - 30)*(100vw - 320px)/(576 - 320));
        }
    }
}

.about__build {
    @apply flex justify-end absolute top-[63%] right-0;

    @media screen and(max-width: 1440px) {
        height: calc(55px + (113 - 55)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        height: calc(50px + (85 - 50)*(100vw - 320px)/(576 - 320));
    }

    @media screen and(max-width: 576px) {
        @apply top-[53%] right-0;
    }

    svg {
        @apply h-full w-full;

       
    }
    

}

.text__sepatator {
    @apply hidden;
    @media screen and(max-width: 576px) {
        @apply inline;
    }
}