@import '../../../styles/mixins.scss';

.motives__section {
    @apply bottom-0 h-full z-10 pt-[10%] mb-[10%];
}

.container {
    @apply h-full w-[1210px] mx-auto z-10;

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}

.title {
    @include text(62px, 135%, 700, $medium_black);
    @apply text-center;

    @media screen and(max-width: 1440px) {
        font-size: calc(14px + (62 - 14)*(100vw - 320px)/(1440 - 320));
    }
}

.title__decor {
    @include text(62px, 135%, 700, $sapfir_color);

    @media screen and(max-width: 1440px) {
        font-size: calc(14px + (62 - 14)*(100vw - 320px)/(1440 - 320));
    }
}

.motive {
    @apply border-r-[3px] border-[#31414B] flex flex-col items-center;

    @media screen and(max-width: 768px) {
        &:nth-last-child(even) {
            @apply border-r-[3px] border-[#31414B];
        }

        &:nth-last-child(odd) {
            @apply border-r-0;
        }
    }
}

.motive__wrapper {
    @apply w-[75%];
}

.motive__image {
    @apply mx-auto;
}

.motive__title_wrapper {
    @apply bg-[#31414B] rounded-sm px-[5%] py-[5%] mx-auto;
}

.motive__title {
    @include text(14px, 135%, 400, $white_color);
    @apply text-center;
}

.inner {
    @apply mt-[7%] grid grid-cols-3 gap-y-[15%];

    @media screen and(max-width: 768px) {
        @apply grid grid-cols-2;
    }
}