@import '../../../styles//mixins.scss';

.carousel__section {
    @apply bg-[#31414B] h-full w-full;

    @media screen and(max-width: 768px) {
        @apply mt-[7%];
    }

    @media screen and(max-width: 576px) {
        @apply px-[2%] pb-[3%];
    }
}

.form__wrapper {
    @apply mt-[3%];
}

// ===== form =====>
.carousel__form {
    @apply flex flex-col w-full;
}

.form__title {
    @include text(36px, 135%, 600, $white_color);
    @apply text-center;

    @media screen and(max-width: 1440px) {
        font-size: calc(16px + (36 - 18)*(100vw - 480px)/(1440 - 480));
    }
}

.form__body {
    @apply flex flex-col mt-[1%] mb-[7%] w-[30%] mx-auto;

    @media screen and(max-width: 768px) {
        @apply w-[60%];
    }

    @media screen and(max-width: 576px) {
        @apply w-[80%];
    }

    input {
        @apply bg-[#ECECEC] mt-[5%] py-[2%] px-[5%] rounded-lg;

        &::placeholder {
            @include text(18px, 135%, 400, #31414B);
        }
    }
}

.form__button {
    @include text(24px, 135%, 400, $white_color);
    @apply bg-[#2BB018] mt-[7%] py-[2%] px-[5%] rounded-lg;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
    @apply py-[5%] mb-[1%] cursor-grab;

    @media screen and(max-width: 768px) {
        @apply pt-0 pb-[7%];
    }
}

.swiper-slide {
  text-align: center;
  font-size: 30px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
