
@import '../../../styles/mixins.scss';

.home {
    height: auto;
    max-width: 100%;
    @apply relative top-0 left-0;
}

.home__bg {
    @apply bg-[url('../../../public/static/about/supermarket-bg.jpg')] h-[708px] w-full relative top-0 left-0 z-0 bg-no-repeat bg-center bg-cover;
    @media screen and(max-width: 1440px) {
        height: calc(381px + (708 - 381)*(100vw - 576px)/(1440 - 576));
    }

}
.home__shadow {
    @apply absolute w-full h-full top-0 left-0 z-auto;
    background: rgba(49, 65, 75, 0.5);
}
.home__shadow_up {
    @apply absolute w-full h-full top-0 left-0 z-auto;
    background: linear-gradient(294.64deg, #1D6172 0%, rgba(30, 93, 112, 0) 44.13%, rgba(30, 92, 111, 0) 126.48%);
}

.container {
    @apply relative top-1/2 left-1/2 h-full w-[1210px] translate-x-[-50%] translate-y-[-50%];

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}
// ===== inner =====>
.inner {
    @apply relative top-[60%] right-0 w-full;
    @media screen and(max-width: 1440px) {
    }
}
.title {
    @include text(72px, 130%, 400, $white_color);
    @apply text-right;
    @media screen and(max-width: 1440px) {
        font-size: calc(30px + (72 - 30)*(100vw - 576px)/(1440 - 576));
    }
}
.NP__decor_title {
    @include np_text(96px, 135%, 700);
    @apply text-right;
    @media screen and(max-width: 1440px) {
        font-size: calc(38px + (96 - 38)*(100vw - 576px)/(1440 - 576));
    }
}