@import '../../../styles/mixins.scss';

.gallery__section {
    @apply relative top-0 left-0 border-l-0 border-r-0 w-full h-full py-[6%] mt-[165px];

    @media screen and(max-width: 1440px) {
        @apply py-[6%] mt-[12%];
    }

    @media screen and(max-width: 576px) {
        @apply top-[28%] translate-y-[28%] pt-0;
    }
}

.gallery__bg {
    @apply absolute bg-[#31414B] w-full left-0 top-[48%] translate-x-[0] translate-y-[-48%];
    @media screen and(min-width: 1440px) {
        @apply h-[700px];
    }
    @media screen and(max-width: 1440px) {
        @apply h-[64%];
    }

    @media screen and(max-width: 576px) {
        @apply top-[74%] h-[43%];
    }

}

.gallery__container {
    @apply relative top-0 left-0 h-full w-[1210px] mx-auto z-10;

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}

.gallery__wrapper {
    @apply flex flex-row justify-between relative top-0 left-0;

    @media screen and(max-width: 576px) {
        @apply flex flex-col-reverse;
    }
}

.gallery__description {
    @apply flex flex-col items-baseline justify-center w-[35%];

    @media screen and(max-width: 576px) {
        @apply w-full;
    }
}

.gallery__content {
    @apply w-[80%] pb-[5%];

    @media screen and(max-width: 576px) {
        @apply flex flex-row w-full justify-center mt-[6%];
    }
}

.gallery__inner {
    @apply bg-white w-[65%] flex flex-col items-center py-[3%] p-[5%] relative;
    @include shadow_std();

    @media screen and(max-width: 576px) {
        @apply flex flex-col-reverse w-full;
        box-shadow: none;
    }
}

.gallery__body {
    @apply px-[14%] py-[4%] flex flex-col items-center;

    @media screen and(max-width: 576px) {
        @apply bg-white mt-[11%];
        @include shadow_std();
    }
}

.gallery__description_up {
    @apply flex flex-col border-b-2 pb-[13%];

    @media screen and(max-width: 576px) {
        @apply border-r-2 border-b-0 w-full pb-0;
    }
}

.gallery__description_up_text {
    @include text(20px, 130%, 600, $white_color);
    @apply pt-[10%] text-center uppercase;

    @media screen and(max-width: 1440px) {
        font-size: calc(12px + (20 - 12)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(10px + (20 - 10)*(100vw - 320px)/(576 - 320));
    }

}

.gallery__description_down {
    @apply flex flex-col pt-[13%];

    @media screen and(max-width: 576px) {
        @apply pt-0 ml-[2%] w-full;
    }
}

.gallery__description_image {
    @apply relative top-[0%] right-0 mx-auto;

    @media screen and(max-width: 1440px) {
        width: calc(54px + (110 - 54)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 1440px) {
        height: calc(54px + (110 - 54)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        width: calc(30px + (60 - 30)*(100vw - 320px)/(576 - 320));
    }
}

.gallery__description_up_number {
    @include text(40px, 130%, 600, $white_color);
    @apply mt-[5%] text-center;

    @media screen and(max-width: 1440px) {
        font-size: calc(16px + (40 - 16)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(18px + (36 - 18)*(100vw - 320px)/(576 - 320));
        @apply mt-[2%];
    }
}

.gallery__slide {
    @apply items-center;

}

.gallery__inner_btn {
    @include text(24px, 130%, 600, $white_color);
    @apply w-[50%] bg-[#31414B] uppercase rounded-md py-[2%];

    @media screen and(max-width: 1440px) {
        font-size: calc(12px + (24 - 12)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-full py-[3%] mb-[5%];
        font-size: calc(12px + (30 - 12)*(100vw - 320px)/(576 - 320));
    }
}

// ===== gallery pagging buttons =====>
.next__btn {
    @apply absolute top-0 right-[2%] h-full w-[55px] z-10 disabled:opacity-30;

    @media screen and(max-width: 1440px) {
        width: calc(28px + (55 - 28)*(100vw - 320px)/(1440 - 320));
    } 
}

.back__btn {
    @apply absolute top-0 left-[2%] h-full w-[55px] z-10 disabled:opacity-30;

    @media screen and(max-width: 1440px) {
        width: calc(28px + (55 - 28)*(100vw - 320px)/(1440 - 320));
    }
}

// ===== swiper =====>
.mySwiper {
    max-width: 100%;
    margin-bottom: 8%;
    padding: 10%;
    overflow: hidden;

    @media screen and(max-width: 576px) {
        @apply mb-0;
    }
}
.slide__image_wrapper {
    @apply flex justify-center relative w-[100%] top-0 left-0;

    @media screen and(max-width: 576px) {
        @apply relative min-h-0 w-[100%] left-0;
    }
}
.swiper {
    width: 300px;
    height: 300px;
    padding: 20px;
  }

  .swiper-slide {
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 5%;
  }