@import '../styles/mixins.scss';

// ===== modal form =====>
.popup {
    @apply hidden;

    @media screen and(max-width: 576px) {
        @apply block w-full h-[73%] bg-white fixed left-0 bottom-0 z-40 rounded-t-3xl shadow-[0_3px_4px_3px_rgba(49,65,75,0.2)];    
    }
    
}
.popup__container {
    @apply px-[9.6%] max-w-full;
}
.popup__inner {
    @apply flex flex-col w-full items-center;
}
.popup__close_button {
    @apply w-full mt-[6%] animate-bounce;
}
.popup__title {
    @include text(50px, 135%, 400, #31414B);
    @apply mt-[6%] text-center;

    @media screen and(max-width: 576px) {
        font-size: calc(10px + (32 - 10)*(100vw - 320px)/(576 - 320));
    }

    span {
        @include text(32px, 135%, 600, $sapfir_color);

        @media screen and(max-width: 576px) {
            font-size: calc(10px + (32 - 10)*(100vw - 320px)/(576 - 320));
        }
    }
}

.popup__form {
    @apply flex flex-col w-full;
    input {
        @include text(24px, 135%, 400, #31414B);
        @apply text-left max-w-full border-2 border-[#31414B] rounded-xl py-[3%] px-[5%] mt-[5.5%] focus-visible:outline-none focus:placeholder:text-transparent;

        &::placeholder {
            @include text(24px, 135%, 400, #31414B);
        }
    }
    button {
        @include text(24px, 135%, 400, #fff);
        @apply text-center max-w-full border-2 border-[#31414B] rounded-xl py-[3.5%] px-[5%] mt-[8%] bg-[#31414B];
    }
}

.according {
    @apply flex justify-center items-center w-full py-[5%] mt-[3%];

    input {
        @apply mt-0;
    }

    @media screen and(max-width: 768px) {   
        input {
            @apply w-2;
        }
    }

    label {
        @include text(16px, 135%, 300, #fff);
        @apply  ml-[3%];

        @media screen and(max-width: 1440px) {
            font-size: calc(6px + (16 - 6)*(100vw - 576px)/(1440 - 576));
        }

        .according__link {
            @include text(16px, 135%, 500, #fff);
            @apply inline-block underline;

            @media screen and(max-width: 1440px) {
                font-size: calc(6px + (16 - 6)*(100vw - 576px)/(1440 - 576));
            }
        }
    }
}

.popup__text {
    @include text(42px, 135%, 400, #31414B);
    @apply mt-[10%];

    @media screen and(max-width: 576px) {
        font-size: calc(26px + (42 - 26)*(100vw - 320px)/(576 - 320));
    }
}