@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";
@import "swiper/css/effect-flip";


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Light.woff'),
    url('../fonts/OpenSans/OpenSans-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Regular.woff'),
    url('../fonts/OpenSans/OpenSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Bold.woff'),
    url('../fonts/OpenSans/OpenSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    font-family: 'Open Sans';
    height: 100%;
    max-width: 100%;
    background: #fff;
  }
  html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.5%);
    
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  
  @media screen and(max-width: 576px) {
   bottom: 0;   
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  border: 1px solid #2BB018;
  width: 10px;
  height: 10px;
  text-align: center;
  color: #fff;
  opacity: 1;
  background: #fff;
}

.swiper-pagination-bullet-active {
  background: #2BB018;
}

// ===== gallery section =====>

.swiper-button-next {
  right: -10%;
}

