@import '../styles/mixins.scss';

.home {
    @apply bg-white w-full h-full relative top-0 left-0;

}

.home__bg {
    @apply absolute top-0 left-0 h-[708px] w-screen bg-cover bg-center bg-no-repeat;

    background-image: url("../public/static/home/cover-home.webp");
    
    @media screen and(max-width: 1440px) {
        height: calc(310px + (728 - 310)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply bg-left-top min-h-screen;
    }

    @media (orientation: portrait) and (max-width: 576px) {
        @apply h-[850px];

    }
}

.home__shadow {
    @apply absolute w-full h-full top-0 left-0;
    background: rgba(49, 65, 75, 0.6);
    z-index: 1;

}

.header {
    @apply w-full border-b-[2px] z-10 border-white absolute;

    @media screen and(max-width: 576px) {}

    @apply border-b-[1px];
}

.header__wrapper {
    @apply flex justify-center my-[1%] w-full z-10;
}

.logo {

    @media screen and(max-width: 1440px) {
        svg {
            height: calc(25px + (57 - 25)*(100vw - 576px)/(1440 - 576));
        }
        
    }

    @media screen and(max-width: 576px) {
       @apply my-[2%];
        svg {
            height: calc(27px + (47 - 27)*(100vw - 320px)/(576 - 320));
        }
        
    }
}

.container {
    @apply absolute top-1/2 left-1/2 z-10 h-full w-[1210px] translate-x-[-50%] translate-y-[-50%];

    @media screen and(max-width: 1440px) {
        width: calc(300px + (1210 - 300)*(100vw - 320px)/(1440 - 320));
    }
}

.inner {
    @apply flex justify-between mt-[12%] w-full;

    @media screen and(max-width: 576px) {
        @apply mt-[19%];
    }
}

.title {
    @include text(48px, 130%, 700, #ECECEC);
    @apply uppercase mt-[20%];

    @media screen and(max-width: 1440px) {
        font-size: calc(20px + (48 - 20)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @include text(30px, 130%, 700, #ECECEC);
        @apply mt-0;
    }

}

.content {
    @apply flex flex-col w-[50%];

    @media screen and(max-width: 576px) {
        @apply w-full text-center;
    }

}

.NP__decor_title {
    @include np_text(64px, 130%, 700);
    @apply mt-[1%];

    @media screen and(max-width: 1440px) {
        font-size: calc(26px + (64 - 26)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @include np_text(40px, 130%, 700);
    }

}

.subtitle {
    @include text(38px, 130%, 400, #fff);
    @apply mt-[3%];

    @media screen and(max-width: 1440px) {
        font-size: calc(15px + (38 - 15)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @include text(20px, 130%, 400, #ECECEC);
    }

}

.form__inner {
    @apply border-[1px] border-[#ececec] rounded-[4%] px-[3%] pt-[4%] pb-[2%] h-auto w-[39%];

    @media screen and(max-width: 768px) {
        @apply w-[40%]
    }

    @media screen and(max-width: 576px) {
        @apply hidden;
    }
}

.form {
    @apply flex flex-col justify-between w-full;

    input {
        @apply mt-[5%] py-[3%] px-[6%] bg-[#ECECEC] rounded-md;

        @include text(18px, 135%, 400, #31414B);

        @media screen and(max-width: 1440px) {
            font-size: calc(8px + (18 - 8)*(100vw - 576px)/(1440 - 576));
        }

        @media screen and(max-width: 768px) {
            @apply rounded-sm;
        }

        &::placeholder {
            @include text(18px, 135%, 400, #31414B);

            @media screen and(max-width: 1440px) {
                font-size: calc(8px + (18 - 8)*(100vw - 576px)/(1440 - 576));
            }
        }
    }
}

.form__title {
    @include text(36px, 135%, 400, #fff);
    @apply text-center;

    @media screen and(max-width: 1440px) {
        font-size: calc(14px + (36 - 14)*(100vw - 576px)/(1440 - 576));
    }

}

.NP__decor_form {
    @include np_text(36px, 105%, 700);

    @media screen and(max-width: 1440px) {
        font-size: calc(14px + (36 - 14)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-height: 740px) {
        @include np_text(32px, 105%, 700);
        @apply mt-[7%];
        font-size: calc(14px + (36 - 14)*(100vw - 576px)/(1440 - 576));
    }
}

.form__button {
    @include text(24px, 135%, 400, #fff);
    @apply mt-[7%] py-[2%] bg-[#2BB018] rounded-lg;

    @media screen and(max-width: 1440px) {
        font-size: calc(9px + (24 - 9)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 768px) {
        @apply rounded-sm;
    }
}

.popup__bottom_subtitle {
    @apply mt-[6%];

    @media screen and(max-width: 576px) {
        font-size: calc(20px + (46 - 20)*(100vw - 320px)/(576 - 320));
    }
}

// ===== nav items =====>
.nav__inner {
    @apply relative flex justify-center w-full mt-[4%];
    border-radius: 10%;

    @media screen and(max-width: 576px) {
        @apply flex-col mt-[14%];
    }

}

.nav__items {
    @apply grid grid-cols-6 bg-white w-full;
    border-radius: 7px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and(max-width: 576px) {
        @apply grid-cols-2 bg-inherit gap-y-5 gap-x-5;
        box-shadow: none;
    }
}

.nav__item {
    @apply flex flex-col justify-center items-center border-r-[2px] border-r-[#2BB018] last:border-r-0 py-[10%];

    &:hover * {
        color: #2BB018;
        fill: #2BB018;
    }

    @media screen and(max-width: 576px) {
        border-radius: 7%;
        @apply border-0 bg-white py-[18%];
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

.item__image {

    @media screen and(max-width: 1440px) {
        svg {
            height: calc(35px + (80 - 35)*(100vw - 576px)/(1440 - 576));
        } 
    }

    @media screen and(max-width: 576px) {
        @apply flex justify-center;
        
        svg {
            height: calc(35px + (108 - 35)*(100vw - 320px)/(576 - 320));
        }
    }

}

.item__img {
    @apply hover:fill-cyan-700;
}

.item__title {
    @include text(20px, 135%, 700, #31414B);
    @apply uppercase mt-[4%];

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (20 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(12px + (24 - 12)*(100vw - 320px)/(576 - 320));
    }
}

.according {
    @apply flex justify-center items-center w-full py-[5%];

    @media screen and(max-width: 768px) {   
        input {
            @apply w-2;
        }
    }

    label {
        @include text(16px, 135%, 300, #fff);
        @apply  ml-[3%];

        @media screen and(max-width: 1440px) {
            font-size: calc(7px + (16 - 7)*(100vw - 576px)/(1440 - 576));
        }

        .according__link {
            @include text(16px, 135%, 500, #fff);
            @apply inline-block underline;

            @media screen and(max-width: 1440px) {
                font-size: calc(7px + (16 - 7)*(100vw - 576px)/(1440 - 576));
            }
        }
    }
}

// ===== modal form =====>
.popup {
    @apply hidden;

    @media screen and(max-width: 576px) {
        @apply block w-full h-[80%] bg-white fixed left-0 bottom-0 z-10 rounded-t-3xl shadow-[0_3px_4px_3px_rgba(49,65,75,0.2)];    
    }
    
}
.popup__container {
    @apply px-[9.6%] max-w-full;
}
.popup__inner {
    @apply flex flex-col w-full items-center;
}
.popup__close_button {
    @apply w-full mt-[10%] flex justify-center animate-bounce;
}
.popup__title {
    @include text(50px, 135%, 400, #31414B);
    @apply mt-[6%];

    @media screen and(max-width: 576px) {
        font-size: calc(14px + (50 - 14)*(100vw - 320px)/(576 - 320));
    }

    span {
        @include text(50px, 135%, 600, $sapfir_color);

        @media screen and(max-width: 576px) {
            font-size: calc(14px + (50 - 14)*(100vw - 320px)/(576 - 320));
        }
    }
}
.popup__form {
    @apply flex flex-col w-full;
    input {
        @include text(24px, 135%, 400, #31414B);
        @apply text-left max-w-full border-2 border-[#31414B] rounded-xl py-[3%] px-[5%] mt-[5.5%] focus-visible:outline-none focus:placeholder:text-transparent;

        &::placeholder {
            @include text(24px, 135%, 400, #31414B);
        }
    }
    button {
        @include text(24px, 135%, 400, #fff);
        @apply text-center max-w-full border-2 border-[#31414B] rounded-xl py-[3.5%] px-[5%] mt-[8%] bg-[#31414B];
    }
}
.popup__text {
        @include text(42px, 135%, 400, #31414B);
        @apply mt-[10%];

        @media screen and(max-width: 576px) {
            font-size: calc(26px + (42 - 26)*(100vw - 320px)/(576 - 320));
        }
}